#caja1{
    height: 1000px;
}

#caja2{
    width: 500px;
    height: 200px;
    float: right;
}

#caja3{
    background-color: mediumspringgreen;
}

#caja4{
    background-color: goldenrod;
    width: 200px;
    float: right;
}
