#cajabotones{
    background-color: black;
    float: left;
}

#cajanombres{
    background-color: cyan;
    height: 260px;
}

img.superior {
    margin-right: 150px;
    border: black solid 1px;
}


#caja03{
    background-color: cyan;
    width: 100%;
    height: 230px;
}

#caja03.grid {
    display: grid;
    grid-template-columns: 270px 350px 300px 300px 300px;
    grid-template-rows: 200px;
    grid-template-areas: "my-IMAGEN my-informacion my-siguenos my-infocont my-sigueen";
}

img.foto {
    grid-area: my-IMAGEN;
    height: 200px; 
    width: 200px;
    margin-left: 30px;
    margin-top: 15px;
    border: black solid 1px;
}

h3.infocont {
    grid-area: my-informacion;
}
h3.sigueen {
    grid-area: my-siguenos;
}
h3.enlaces {
    grid-area: my-infocont;
}
h3.menu {
    grid-area: my-sigueen;
}

#cajaWebmaster{
    width: 100%;
    height: 50px;
    background-color: black;
} 

#menuYses{
    background-color: blue;
    float: right;
    width: 200px;
    height: 550px;
    margin-left: 10px;
}

#menu{
    background-color: cyan;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#enlacesSes{
    background-color: cyan;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}